@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic);

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/bg.png');
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: url('../images/center-bg.png');
    box-shadow: 0 0 3px 3px #000;
    position: relative;
}

h1 {
    font-size: 32pt;
    font-family: 'Droid Serif', serif;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    background: #267f00; /* Old browsers */
    background: -moz-linear-gradient(top, #267f00 0%, #1d6000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#267f00), color-stop(100%,#1d6000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #267f00 0%,#1d6000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #267f00 0%,#1d6000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #267f00 0%,#1d6000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #267f00 0%,#1d6000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267f00', endColorstr='#1d6000',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    position: relative;
    left: -15px;
    width: 820px;
    box-shadow: -1px -1px 5px 1px #000;
}

h2:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 14px solid #267F00;
    border-left: 14px solid transparent;
    position: absolute;
    top: 36px;
    left: 1px;
}

h2:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 14px solid #267F00;
    border-right: 14px solid transparent;
    position: absolute;
    top: 36px;
    right: 1px;
}

.outset {
    width: 1200px;
    position: relative;
    left: -200px;
    margin-top: 20px;
    box-shadow: 0 0 5px 2px #000;
    height: 600px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

.outset > img {
    position: absolute;
}

.download {
    text-align: center;
    font-size: 16pt;
    margin-top: 0;
}

.content-body {
    padding: 5px 20px 20px 20px;
    line-height: 26px;
}

h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}

h3 > a {
    position: absolute;
    right: -15px;
    top: 3px;
    width: 21px;
    height: 21px;
    background: url('../images/link.png') no-repeat;
    display: none;
}

h3:hover > a {
    display: block;
}

.navleft, .navright {
    display: block;
    opacity: 0;
    border-radius: 23px;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 280px;
    transition: opacity .25s ease-in-out;
}

.navleft {
    left: 30px;
    background: url('../images/left.png');
}

.navright {
    right: 30px;
    background: url('../images/right.png');
}

.outset:hover > .navleft, .outset:hover > .navright {
    opacity: 1;
}

a:active {
    outline: none;
}