[submodule "externals/monotorrent"]
	path = externals/monotorrent
	url = git://github.com/SirCmpwn/monotorrent.git
[submodule "externals/cecil"]
	path = externals/cecil
	url = git://github.com/mono/cecil.git
